/* STILE GENERALE DEL SITO */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: #FFE600;
}

h1 {
    font-family: Ramona;
    font-style: normal;
    font-weight: bold;
    font-size: 64px; /* 4.4vw */
    line-height: 84px; /* 5.83vw */
    color: #000000;
}

h2{
    font-family: Ramona;
    font-style: normal;
    font-weight: normal;
    font-size:  30px;
    line-height: 42px;
    color: #040404;
}

h3 {
    font-family: Ramona;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 66px;
    color: #9B7EDE;
}

h4 {
    font-family: Ramona;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    color: #000000;
}

p {
    font-family: Ramona;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;

    color: #9B7EDE;
}

/* STILE GENERALE PER IL META SCHERMO */
@media screen and (max-width: 700px){

    h1 {
        font-size: 55px;
        line-height: 70px;
    }

    h2{
        font-size:  25px;
        line-height: 37px;
    }
    
    h3 {
        font-size: 35px;
        line-height: 50px;
    }
    
    h4 {
        font-size: 15px;
        line-height: 15px;
    }
    
    p {
        font-size: 30px;
        line-height: 40px;
    }
    
}
/* STILE GENERALE PER IL MOBILE */
@media screen and (max-width: 375px){

    h1 {
        font-size: 50px;
        line-height: 60px;
    }

    h2{
        font-size:  22px;
        line-height: 30px;
    }
    
}

/* SVG BLOB CHE SI SPOSTA NELLA HERO */
.blob {
    position: absolute;
    top: 0;
    left: 0;
    fill: #9B7EDE;
    width: 45vw;
    z-index: 0;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
}
  
@keyframes move {
    0%   { transform: scale(1)   translate(10px, -10px); }
    38%  { transform: scale(0.6, 1) translate(80vw, -20vh) rotate(120deg); }
    40%  { transform: scale(0.6, 1) translate(80vw, -20vh) rotate(120deg); }
    78%  { transform: scale(1.3) translate(0vw, 5vh) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0vw, 5vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(10px, -10px); }
}
/* BLOB PER IL MOBILE */
@media screen and (max-width: 420px){
    
    .blob {
        width: 90vw;
        animation: move-mobile 10s ease-in-out infinite;
        
    }
    @keyframes move-mobile {
        0%   { transform: scale(1)   translate(10px, -10px); }
        38%  { transform: scale(0.9, 1) translate(8px, 20vh) rotate(120deg); }
        78%  { transform: scale(1.3) translate(0vw, 5vh) rotate(-20deg); }
        100% { transform: scale(1)   translate(10px, -10px); }
    }
       
}

/* MENU DI NAVIGAZIONE */
.header {
    
    height: 10vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 50px 20px;

}

.logo{
    font-family: 'Ramona';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    z-index: 1;
}

.burger{
    line-height: 20px;
    font-size: 20px;
    cursor: pointer;
}

.burger-mobile, .menu-mobile{
    display: none;
}

.menu{

    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease-in-out;
    transform: translateX(100%);

}

.open-menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.menu a {

    padding: 0 30px;
    color: black;
    cursor: pointer;

}


/* MENU DI NAVIGAZIONE MOBILE */

@media only screen and (max-width: 560px) {

    *{
        overflow: hidden;
    }

    .burger, .menu {
        display: none;
    }

    .header{
        position: fixed;
        bottom: 0;
        z-index: 2;
        height: 8vh;
    }


    .burger-mobile{
        display: block;
        line-height: 20px;
        font-size: 20px;
        cursor: pointer;
    }

    .menu-mobile{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #FFE600;
        transition: all 0.8s ease-in-out;
        transform: translateY(100%);
        opacity: 0;
        visibility: hidden;
        z-index: 1;
    }

    .open-menu-mobile{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .menu-mobile a{

        color: black;
        padding: 30px 0;

    }

    .social-icon-mobile{
        position: absolute;
        bottom: 150px;
    }
    .social-icon-mobile a {
        padding: 20px;
    }
    
}

/* HERO */

.hero{
    width: 100%;
    height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    transition: all 1s;
    animation: animate-image-hero 15s infinite;
}

@keyframes animate-image-hero {

    0%,100%{
        transform: rotate(-15deg);
    }
    50%{
        transform: rotate(15deg);
    }
    
}

.hero-text { 

    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.hero-text h1,h2{
    padding: 0 20px;
}

.arrow{
    position: absolute;
    box-sizing: border-box;
    bottom: 30px;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.arrow:hover{

    bottom: 20px;
    font-size: 20px;

}

/* HERO MOBILE */
@media only screen and (max-width:710px) {
    
    .hero{
        flex-direction: column;
    }

    .hero-image{
        width: 100%;
        height: 50%;
    }

    .hero-image img{
        max-width: 70%;
    }

    .hero-text{
        width: 100%;
        height: 50%;
        text-align: center;
        margin-top: -5%;

    }
    .arrow{
        display: none;
    }

}

/* INTRO 
.intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    height: 100vh;
    padding: 50px;
}

.intro-image { 
    grid-area: 1 / 1 / 2 / 2; 
    max-width: 50vw;
    max-height: 100vh;
    display: flex;
    align-items: flex-end;
}

.intro-image img {
    max-width: 90%;
    max-height: auto;
}

.intro-text { 
    grid-area: 1 / 2 / 2 / 3; 
    max-width: 50vw;
    max-height: 100vh;
    opacity: 1;
    transition: all 2s;
}

.intro-text h3 {    
    text-align: right;
}
*/

.intro {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: aqua;
}